* {
  margin: 0;
  padding: 0;
  }
body{
  background-color: rgb(3, 3, 2, 255);
}
.border{
  background-image: linear-gradient(270deg, #3399ff, #0099ff 27%, #0066ff 50%, #0033cc 75%, #000099);
  width: 100%;
  position: fixed;
  margin-top: 4rem;
  padding-bottom: 3px;
}
.header{
  height: 4rem;
  position: fixed;
  margin-right: auto;
  width: 100vw;
  background-color: black;
}
.topnav{
  float: right;
  margin-right: 1rem;
}
.topnav a {
  z-index: 9;
  color: #f2f4f3;
  padding: 20px 16px;
  text-decoration: none;
  display:inline-block;
  height:2vh;
  font-size: 1.5rem;
}
.topnav a:hover {
  z-index: 9;
  color: #5d6360;
}
.portfolio_link:hover {
  transform: scale(1.1);
}
.display_grid{
  width:10rem;
  height:10rem;
  display:grid;
  grid-row: auto auto;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}
.header_format{
  color:white; 
  float:left;
  font-family: MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
  font-style: normal;
  font-size:  2rem;
  margin-top: .5rem;
  margin-left: 1rem;
}
