* {
  margin: 0;
  padding: 0;
  }
body{
  background-color: rgb(3, 3, 2, 255);
}
.border{
  background-image: linear-gradient(270deg, #3399ff, #0099ff 27%, #0066ff 50%, #0033cc 75%, #000099);
  width: 100%;
  position: fixed;
  margin-top: 4rem;
  z-index: 22;
  padding-bottom: 3px;
}
.header{
  height: 4rem;
  position: fixed;
  margin-right: auto;
  width: 100vw;
  background-color: black;
  z-index: 22;
}
.topnav{
  float: right;
  margin-right: 1rem;
}
.topnav a {
  z-index: 9;
  color: #f2f4f3;
  padding: 20px 16px;
  text-decoration: none;
  display:inline-block;
  height:2vh;
  font-size: 1.5rem;
}
.topnav a:hover {
  z-index: 9;
  color: #5d6360;
}
.portfolio_link:hover {
  transform: scale(1.1);
}
.header_format{
  color:white; 
  float:left;
  font-family: MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
  font-style: normal;
  font-size:  2rem;
  margin-top: .5rem;
  margin-left: 1rem;
}
.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box { margin: 20px; }
.box:hover{
  transform: scale(1.1);
}
.boxthing {
  position: relative;
}
.boxthing::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px; 
  padding: 10px; 
  background:linear-gradient(45deg,#3399ff,#000099); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index:-1;
}